* {
    margin: 0;
    padding: 0;

    }

.divCards {

display: flex;
justify-content: center;
justify-content: space-evenly;


}

.title {

    text-align: center;
    margin-top: 30px;
   

}

.subTitle {

    text-align: center;
    margin-bottom: 30px;
    text-decoration: underline;


}

.divCards{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;


}

.card{

    width: 18rem;
    border-radius: 20px;
    
    

}

.imgProd{

border-radius: 100px;
display: flex;
justify-content: space-evenly;


}

.btnAddCart{

border-radius: 100px;
background-color: #02779e;
color: white;
border-color: black;
height: 40px;




}